.u-margin-top-big {
  margin-top: 6rem;
}

.u-margin-top-medium {
  margin-top: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.primaryHeading {
  text-align: center;
  margin: 1rem 0;
  font-size: 3rem;
  color: $color-heading;
}
