// Colors
$white: #ffffff;
$whiter: #fff;
$silver: #c0c0c0;
$shark: #1f1f1f;
$eastern-blue: #17a2b8;
$blue-color: #144b6a;
$blue-color1: #3f77a2;
$lessRedcolor: rgb(143, 74, 74);

$color-bg-primary: $eastern-blue;
$color-heading: $shark;

// responsive

$tablet: "(max-width: 950px)";
$mobile: "(max-width: 600px)";
